h1{
  color: #312614;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0.5em 0 1em 0;
  font-size: 2rem;
}

h2{
  color: #241149;
  text-transform: uppercase;
  text-align: left;
  flex-wrap: nowrap;
  letter-spacing: 0.05em;
  margin: 2em 0em 2em 3em;
  font-size: 1.5rem;
}

p{
  width: 100%;
  padding: 0.75em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

input{
  margin: 1em 0 1em 1em;
}

textarea{
  width: 100%;
  
}


.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

}

.color-title{
  font-size: 5rem;
  color: #e32929;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  text-align: left;
  font-size: 1.5rem;
  margin: 0 auto;
}

input[type=text]:focus {
  border: none;
  border-bottom: 2px solid lightblue;
}

.head-label{
  display: block;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #223244;
}


.pic {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 10vh;
}

.button {
  position: absolute;
  
  height: 60px;
  width: 100%;
  cursor: pointer;
}

.button:before {
  content: "";
  width: 50px;
  height: 4px;
  background: #000000;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 48px;
  transition: all 0.3s ease;
}

.button:hover:before {
  right: 68px;
  width: 70px;
}

.button:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000000;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 40px;
  transition: all 0.3s ease;
}

.button:hover:after {
  right: 68px;
  right: 60px;
}