<!DOCTYPE HTML>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <meta charset="UTF-8">
      <meta name="description" content="Proejkt RAIM/HIED">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="Kajetan Kubicz, Agnieszka Blok, Renata Bańka">
  <title>Projekt RAIM/HIED</title>
  </head>  
  <body>
    <header class="title">
	   <h1>How <span class="color-title">fast</span> are you?</h1>
	  </header>

	  <h1>Check yourself!</h1>

    <div class="wrapper">
      <h2>Finally, a few last questions</h2>
  
      <form action="#" id="form">
        <p>
          <label class="head-label">proficiency in solving perceptual tasks:</label><br>
            <input type="radio" name="perceptual" value="1">
            <label for="1"> 1 (none)</label><br>
            <input type="radio" name="perceptual" value="2">
            <label for="2"> 2</label><br>
            <input type="radio" name="perceptual" value="3">
            <label for="3"> 3</label><br>
            <input type="radio" name="perceptual" value="4">
            <label for="4"> 4</label><br>
            <input type="radio" name="perceptual" value="5">
            <label for="5"> 5 (experienced)</label><br>
        </p>
        
        <p>
          <label class="head-label">experience in computer games:</label><br>
            <input type="radio" name="computer_experience" value="1">
            <label for="1"> 1 (none)</label><br>
            <input type="radio" name="computer_experience" value="2">
            <label for="2"> 2</label><br>
            <input type="radio" name="computer_experience" value="3">
            <label for="3"> 3</label><br>
            <input type="radio" name="computer_experience" value="4">
            <label for="4"> 4</label><br>
            <input type="radio" name="computer_experience" value="5">
            <label for="5"> 5 (experienced)</label><br>
        </p>
        
        <p>
          <label class="head-label">frequency of using electronic devices:</label><br>
            <input type="radio" name="electronic_devices" value="1">
            <label for="1"> 1 (none)</label><br>
            <input type="radio" name="electronic_devices" value="2">
            <label for="2"> 2</label><br>
            <input type="radio" name="electronic_devices" value="3">
            <label for="3"> 3</label><br>
            <input type="radio" name="electronic_devices" value="4">
            <label for="4"> 4</label><br>
            <input type="radio" name="electronic_devices" value="5">
            <label for="5"> 5 (a lot)</label><br>
        </p>
        
        <p>
          <label class="head-label">level of physical activity:</label><br>
            <input type="radio" name="physical_activity" value="1">
            <label for="1"> 1 (very tired)</label><br>
            <input type="radio" name="physical_activity" value="2">
            <label for="2"> 2</label><br>
            <input type="radio" name="physical_activity" value="3">
            <label for="3"> 3</label><br>
            <input type="radio" name="physical_activity" value="4">
            <label for="4"> 4</label><br>
            <input type="radio" name="physical_activity" value="5">
            <label for="5"> 5 (a lot)</label><br>
        </p>
        
        <p>
          <label class="head-label">caffeine consumption:</label><br>
            <input type="radio" name="caffeine" value="1">
            <label for="1"> 1 (very stressed)</label><br>
            <input type="radio" name="caffeine" value="2">
            <label for="2"> 2</label><br>
            <input type="radio" name="caffeine" value="3">
            <label for="3"> 3</label><br>
            <input type="radio" name="caffeine" value="4">
            <label for="4"> 4</label><br>
            <input type="radio" name="caffeine" value="5">
            <label for="5"> 5 (a lot)</label><br>
        </p>
        
         <p>
          <label class="head-label">How much time do you sleep:</label><br>
            <input type="radio" name="sleep" value="2-3">
            <label for="2"> 2-3 hours</label><br>
            <input type="radio" name="sleep" value="3-5">
            <label for="3"> 3-5 hours</label><br>
            <input type="radio" name="sleep" value="5-10">
            <label for="4"> 5-10 hours</label><br>
            <input type="radio" name="sleep" value=">12">
            <label for="5"> Over 12 hours</label><br>
        </p>    
        
      </form>
    </div>

    <a href="/5">
      <div class="pic">
        <div class="button"></div>
      </div>
    </a>
  
    
  </body>
</html>